:root {
    --buttonbg: white;
    --buttontext: black;
    --textColor: white;
    --flatdarkbutton: 2%;
    --flatlightbutton: 1%;
    --bgtheme: black;
    --elemargin: 1rem;
    --boxshadow: 0 30px 30px 10px rgba(0, 0, 0, 0.5);
    --innerboxshadow: inset 30px 30px 10px rgba(0, 0, 0, 0.5);

}

/*element1 properties*/
.grid-ele1 {
    position: relative;
    -webkit-transition: margin .2s ease, border-radius .2s ease;
    transition: margin .2s ease, border-radius .2s ease;
}

.latest-project-link {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    text-decoration: none;
    color: var(--textColor);
    z-index: 1;
    padding-top: 4%;
    padding-bottom: 4%;
    background: var(--bgtheme);
    -webkit-transition: bottom .2s ease, top .2s ease, margin .2s ease, border-radius .2s ease;
    transition: bottom .2s ease, top .2s ease, margin .2s ease, border-radius .2s ease;
}

.latest-project-link a {
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
    transition: font-size .2s ease;
}

.grid-ele1::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(to top left, rgba(var(--bgtheme), 0.808), transparent);
}
/*element2 properties*/
.grid-ele2 {
    position: relative;
    background: var(--bgtheme);
    -webkit-transition: margin .2s ease, border-radius .2s ease;
    transition: margin .2s ease, border-radius .2s ease;
}

.grid-ele2 img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    right: 0px;

}

.discription {
    position: absolute;
    color: var(--textColor);
    top: 5%;
    left: 5%;
    z-index: 1;
    padding: 5%;
    background: var(--bgtheme);
}

.discription h1 {
    font-size: 10vh;
}

.discription p {
    font-size: 3vh;
}

/*element4 properties*/
.grid-ele4 {
    background: var(--bgtheme);
    position: relative;
    -webkit-transition: margin .2s ease, border-radius .2s ease;
    transition: margin .2s ease, border-radius .2s ease;
}

.grid-ele4 h2 {
    color: var(--textColor);
    text-align: center;
    margin: 1%;
}

.button {
    display: flex;
    position: relative;
    padding: 1%;
    color: var(--buttontext);
    background: var(--buttonbg);
    cursor: pointer;
    align-items: center;
    transition: padding 250ms ease;
}


.style1-button {
    padding: var(--flatdarkbutton);
}

.style2-button {
    padding: var(--flatlightbutton);
}