* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    -webkit-transition: background-color var(--transitiontime) ease;
    -moz-transition: background-color var(--transitiontime) ease;
    -o-transition: background-color var(--transitiontime) ease;
    transition: background-color var(--transitiontime) ease;
}

body {
    --transitiontime: 250ms;
    background: var(--bgtheme);
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 30% 70%;
    grid-template-rows: 70% 30%;
}

.main-cover {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

.grid-ele1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.grid-ele1 iframe {
    width: 100%;
    height: 100%;
}

.grid-ele2 {
    grid-column: 2/3;
    grid-row: 1/2;
}


.ele1-cover {
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

.ele2-cover {
    background: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

.ele4-cover {
    background: #ff7c24;
    position: absolute;
    width: 100%;
    height: 30vh;
    z-index: 5;
    pointer-events: none;
}

.design-styles {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

@media only screen and (orientation:portrait) {
    main {
        display: grid;
        width: 100%;
        height: 200vh;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 100vh 100vh;
    }

    .grid-ele1 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .grid-ele2 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-ele4 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .design-styles {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        top: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .button {
        display: flex;
        height: 5vh;
        width: 50vw;
        position: relative;
        padding: 1%;
        color: var(--buttontext);
        background: var(--buttonbg);
        cursor: pointer;
        justify-self: center;
        align-items: center;
        transition: padding 250ms ease;
    }

}


/* hiden ele */
.profile {
    position: absolute;
    opacity: 0;
}
/* main */
:root {
    --buttonbg: white;
    --buttontext: black;
    --textColor: white;
    --flatdarkbutton: 2%;
    --flatlightbutton: 1%;
    --bgtheme: black;
    --elemargin: 1rem;
    --boxshadow: 0 30px 30px 10px rgba(0, 0, 0, 0.5);
    --innerboxshadow: inset 30px 30px 10px rgba(0, 0, 0, 0.5);

}

/*element1 properties*/
.grid-ele1 {
    position: relative;
    -webkit-transition: margin .2s ease, border-radius .2s ease;
    transition: margin .2s ease, border-radius .2s ease;
}

.latest-project-link {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    text-decoration: none;
    color: var(--textColor);
    z-index: 1;
    padding-top: 4%;
    padding-bottom: 4%;
    background: var(--bgtheme);
    -webkit-transition: background-color var(--transitiontime) ease, bottom .2s ease, top .2s ease, margin .2s ease, border-radius .2s ease;
    transition: background-color var(--transitiontime) ease, bottom .2s ease, top .2s ease, margin .2s ease, border-radius .2s ease;
}

.latest-project-link a {
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
}

.grid-ele1::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(to top left, rgba(var(--bgtheme), 0.808), transparent);
}

/*element2 properties*/
.grid-ele2 {
    position: relative;
    background: var(--bgtheme);
    -webkit-transition: margin .2s ease, border-radius .2s ease;
    transition: margin .2s ease, border-radius .2s ease;
}

.grid-ele2 img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    right: 0px;

}

.discription {
    position: absolute;
    color: var(--textColor);
    top: 5%;
    left: 5%;
    z-index: 1;
    padding: 5%;
    background: var(--bgtheme);
}

.discription h1 {
    font-size: 10vh;
}

.discription p {
    font-size: 3vh;
}

/*element4 properties*/
.grid-ele4 {
    background: var(--bgtheme);
    position: relative;

    -webkit-transition: background-color var(--transitiontime) ease, margin .2s ease, border-radius .2s ease;
    transition: background-color var(--transitiontime) ease, margin .2s ease, border-radius .2s ease;
}

.grid-ele4 h2 {
    color: var(--textColor);
    text-align: center;
    margin: 1%;
}

.button {
    display: flex;
    position: relative;
    padding: 1%;
    color: var(--buttontext);
    background: var(--buttonbg);
    cursor: pointer;
    align-items: center;
    -webkit-transition: padding 250ms ease;
    transition: padding 250ms ease;
}


.style1-button {
    padding: var(--flatdarkbutton);
}

.style2-button {
    padding: var(--flatlightbutton);
}