:root {
    --bgtheme: #ffffff;
    --lightbgtheme: #c7c7c7;
    /*primary color */
    --buttonbg: #2962ff;
    /* accent color */
    --buttontext: white;
    --textColor: rgb(0, 0, 0);
    --materialdarkbutton: 2%;
    --materiallightbutton: 1%;
    --elemargin: 1rem;
    --buttonshadow: 10px 10px 50px 1px rgba(0, 0, 0, 0.5);
    --boxshadow: 0 30px 30px 10px rgba(0, 0, 0, 0.5);
    --innerboxshadow: inset 30px 30px 50px rgba(0, 0, 0, 0.5);
}

body {
    background: var(--lightbgtheme);
}

/*element1 properties*/
.grid-ele1 {
    position: relative;
    overflow: hidden;
    margin: var(--elemargin);
    border-radius: 1vh;
    -moz-box-shadow: var(--boxshadow);
    -webkit-box-shadow: var(--boxshadow);
    box-shadow: var(--boxshadow);
    -webkit-transition: margin .2s ease, border-radius .2s ease;
    transition: margin .2s ease, border-radius .2s ease;
}

.latest-project-link {
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0;
    z-index: 1;
    padding-top: 4%;
    padding-bottom: 4%;
    background: var(--bgtheme);
    -moz-box-shadow: 0 -1vh 30px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 -1vh 30px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 -1vh 30px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color var(--transitiontime) ease, bottom .2s ease, top .2s ease, margin .2s ease, border-radius .2s ease;
    transition: background-color var(--transitiontime) ease, bottom .2s ease, top .2s ease, margin .2s ease, border-radius .2s ease;
}

.latest-project-link a {
    position: absolute;
    left: 5%;
    font-size: 5vh;
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
}

/*element2 properties*/
.grid-ele2 {
    position: relative;
    background: var(--bgtheme);
    margin: var(--elemargin);
    overflow: hidden;
    border-radius: 1vh;
    -moz-box-shadow: var(--boxshadow);
    -webkit-box-shadow: var(--boxshadow);
    box-shadow: var(--boxshadow);
    -webkit-transition: margin .2s ease, border-radius .2s ease;
    transition: margin .2s ease, border-radius .2s ease;
}

.grid-ele2 img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    right: 0px;

}

.discription {
    position: absolute;
    color: var(--textColor);
    top: 5%;
    left: 5%;
    z-index: 1;
    padding: 5%;
    border-radius: 1vh;
    background: var(--bgtheme);
    -moz-box-shadow: var(--innerboxshadow);
    -webkit-box-shadow: var(--innerboxshadow);
    box-shadow: var(--innerboxshadow);
}

.discription h1 {
    font-size: 10vh;
}

.discription p {
    font-size: 3vh;
}

/*element4 properties*/
.grid-ele4 {
    position: relative;
    background: var(--bgtheme);
    margin: var(--elemargin);
    overflow: hidden;
    border-radius: 1vh;
    -moz-box-shadow: var(--boxshadow);
    -webkit-box-shadow: var(--boxshadow);
    box-shadow: var(--boxshadow);
    -webkit-transition: background-color var(--transitiontime) ease, margin .2s ease, border-radius .2s ease;
    transition: background-color var(--transitiontime) ease, margin .2s ease, border-radius .2s ease;
}

.grid-ele4 h2 {
    position: absolute;
    bottom: 5%;
    color: var(--lightbgtheme);
    font-size: 30vh;
    text-align: center;
}

.button {
    display: flex;
    position: relative;
    padding: 1%;
    color: var(--buttontext);
    background: var(--buttonbg);
    cursor: pointer;
    border-radius: 1vh;
    -moz-box-shadow: var(--buttonshadow);
    -webkit-box-shadow: var(--buttonshadow);
    box-shadow: var(--buttonshadow);
    align-items: center;
    -webkit-transition: padding 250ms ease;
    transition: padding 250ms ease;
}


.style4-button {
    padding: var(--materialdarkbutton);
}

.style3-button {
    padding: var(--materiallightbutton);
}