* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

:root {
    --bgtheme: #ffffff;
    --lightbgtheme: #c7c7c7;
    /* basically primary color */
    --buttonbg: #2962ff;
    /* accent color */
    --buttontext: white;
    --textColor: rgb(0, 0, 0);
    --materialdarkbutton: 2%;
    --materiallightbutton: 1%;
    --elemargin: 1rem;
    --buttonshadow: 10px 10px 50px 1px rgba(0, 0, 0, 0.5);
    --boxshadow: 0 30px 30px 10px rgba(0, 0, 0, 0.5);
    --innerboxshadow: inset 30px 30px 50px rgba(0, 0, 0, 0.5);
}

body {
    height: 100vh;
    width: 100%;
    background: var(--lightbgtheme);
    -webkit-transition: width .2s, height .2s;
    transition: width .2s, height .2s;
}

/*MAIN GRID PROPERTIES FOR DESKTOP*/
main {
    display: grid;
    height: 100vh;
    grid-template-columns: 30% 70%;
    grid-template-rows: 70% 30%;
}

.grid-ele1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.grid-ele1 iframe {
    width: 100%;
    height: 100%;
}

.grid-ele2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid-ele4 {
    background: var(--bgtheme);
    grid-column: 2/3;
    grid-row: 2/3;
}

.ele1-cover {
    background: var(--bgtheme);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

.ele2-cover {
    background: var(--bgtheme);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

.ele4-cover {
    background: var(--buttonbg);
    position: absolute;
    width: 100%;
    height: 30vh;
    z-index: 5;
    pointer-events: none;
}

/*MAIN GRID PROPERTIES FOR DESKTOP  END.....*/

/*MAIN GRID PROPERTIES FOR MOBILE*/
@media only screen and (orientation:portrait) {
    main {
        display: grid;
        width: 100%;
        height: 200vh;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 100vh 100vh;
    }

    .grid-ele1 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .grid-ele2 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-ele4 {
        grid-row: 3/4;
        grid-column: 1/2;
    }



}

/* setting buttons layout */
@media only screen and (orientation:portrait) {
    .design-styles {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        top: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .button {
        display: flex;
        height: 5vh;
        width: 50vw;
        position: relative;
        padding: 1%;
        color: var(--buttontext);
        background: var(--buttonbg);
        cursor: pointer;
        justify-self: center;
        align-items: center;
        transition: padding 250ms ease;
    }
}

/*MAIN GRID PROPERTIES FOR MOBILE  END.....*/
.design-styles {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*element1 properties*/
.grid-ele1 {
    position: relative;
    overflow: hidden;
    margin: var(--elemargin);
    border-radius: 1vh;
    -moz-box-shadow: var(--boxshadow);
    -webkit-box-shadow: var(--boxshadow);
    box-shadow: var(--boxshadow);
    -webkit-transition: margin .2s ease, border-radius .2s ease;
    transition: margin .2s ease, border-radius .2s ease;
}

.latest-project-link {
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0;
    z-index: 1;
    padding-top: 4%;
    padding-bottom: 4%;
    background: var(--bgtheme);
    -moz-box-shadow: 0 -1vh 30px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 -1vh 30px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 -1vh 30px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: bottom .2s ease, top .2s ease, margin .2s ease, border-radius .2s ease;
    transition: bottom .2s ease, top .2s ease, margin .2s ease, border-radius .2s ease;
}

.latest-project-link a {
    position: absolute;
    left: 5%;
    font-size: 5vh;
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
    transition: font-size .2s ease;
}

/*element2 properties*/
.grid-ele2 {
    position: relative;
    background: var(--bgtheme);
    margin: var(--elemargin);
    overflow: hidden;
    border-radius: 1vh;
    -moz-box-shadow: var(--boxshadow);
    -webkit-box-shadow: var(--boxshadow);
    box-shadow: var(--boxshadow);
    -webkit-transition: margin .2s ease, border-radius .2s ease;
    transition: margin .2s ease, border-radius .2s ease;
}

.grid-ele2 img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    right: 0px;

}

.discription {
    position: absolute;
    color: var(--textColor);
    top: 5%;
    left: 5%;
    z-index: 1;
    padding: 5%;
    border-radius: 1vh;
    background: var(--bgtheme);
    -moz-box-shadow: var(--innerboxshadow);
    -webkit-box-shadow: var(--innerboxshadow);
    box-shadow: var(--innerboxshadow);
}

.discription h1 {
    font-size: 10vh;
}

.discription p {
    font-size: 3vh;
}

/*element4 properties*/
.grid-ele4 {
    position: relative;
    margin: var(--elemargin);
    overflow: hidden;
    border-radius: 1vh;
    -moz-box-shadow: var(--boxshadow);
    -webkit-box-shadow: var(--boxshadow);
    box-shadow: var(--boxshadow);
    -webkit-transition: margin .2s ease, border-radius .2s ease;
    transition: margin .2s ease, border-radius .2s ease;
}

.grid-ele4 h2 {
    position: absolute;
    bottom: 5%;
    color: var(--lightbgtheme);
    font-size: 30vh;
    text-align: center;
}

.button {
    display: flex;
    position: relative;
    padding: 1%;
    color: var(--buttontext);
    background: var(--buttonbg);
    cursor: pointer;
    border-radius: 1vh;
    -moz-box-shadow: var(--buttonshadow);
    -webkit-box-shadow: var(--buttonshadow);
    box-shadow: var(--buttonshadow);
    align-items: center;
    transition: padding 250ms ease;
}


.style4-button {
    padding: var(--materialdarkbutton);
}

.style3-button {
    padding: var(--materiallightbutton);
}

/* transition */

/* .grid-ele1 {
    transition: background .5 ease;
}

.grid-ele2 {
    transition: background .5 ease;
}

.grid-ele4 {
    transition: background .5 ease;
} */