:root {
    --buttontext: black;
    --textColor: black;
    --minimaldarkbuttontext: 1em;
    --minimallightbuttontext: 1.3em;
    --bgtheme: white;
}

body {
    background: var(--bgtheme);
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10vh 80vh 10vh;
    font-family: 'Lexend Deca', sans-serif;
}




/*element1 properties*/
.grid-ele1 {
    grid-column: 1/2;
    grid-row: 1/3;
    display: relative;
    height: 100vh;
    width: 100%;
}

.grid-ele1 iframe {
    height: 0;
    width: 0;
    src: url('#');
    opacity: 0;
}

.profile {
    position: relative;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.more-profiles {
    opacity: 0;
    position: absolute;
    top: 9vh;
    left: 5vw;

}

.profile-image {
    position: absolute;
    top: 6vh;
    left: 5vw;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    z-index: 10;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-project-link {
    opacity: 0;
    pointer-events: none;
}

.latest-project-link a {
    opacity: 0;
    pointer-events: none;
}

/*element2 properties*/
.grid-ele2 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
}

.grid-ele2 img {
    opacity: 0;
    width: 0;
    height: 0;
}

.discription {

    text-align: center;
    font-size: 60px;
    width: 80vw;


}

.discription h1 {
    font-size: 200%;
    mix-blend-mode: difference;
    -webkit-text-stroke: 2px var(--textColor);
    color: transparent;
    pointer-events: none;
}

.discription p {
    font-size: 0;
    width: 0;
    height: 0;
}

/*element4 properties*/
.grid-ele4 {
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100%;
    grid-column: 3/4;
    display: grid;
    overflow: scroll;
    /* background:black; */
}

.grid-ele4 h2 {

    font-size: 2em;
    width: 15vw;
    height: max-content;
    text-align: end;
    padding: 6vh 0px 20px;
    transition: font-size .5s ease;

}

.design-styles {

    display: grid;
    top: 20vh;
    grid-template-columns: 1fr;
    height: 80vh;
}

.button {
    color: var(--buttontext);
    opacity: 0;
    text-align: right;
    width: 15vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size: 1em;
}

.style5-button {
    font-size: var(--minimallightbuttontext);
}